@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

nav{
    height: 126px;
    box-shadow: 0 6px 10px rgb(0 0 0 / 10%);
}

nav ul > li{
    display: inline-block;
}

.menu{
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
    justify-content: space-between;
    width: 520px;
    height: 100%;
    float: right;
    align-items: flex-end;
    /* align-items: center; */
    /* padding-bottom: 20px; */
}

.donate{
    height: 90px;
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-right: 10px;
}
.red-button{
    background-color: #fe504a;
    border: 0;
    outline: 0;
    height: 45px;
    width: 140px;
    border-radius: 33px;
    font-weight: 500;
    font-size: 18px;
    color: white;
}
.red-button:hover{
    color: white;
    background-color: rgb(26, 26, 26);
}

.button{
    float: left;
    /* overflow: hidden; */
    height: 90px;
}
.button:hover::after{
    content: " ";
    display: block;
    background-color: #eb352f;
    width: 100%;
    height: 5px;
    margin-top: -5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.button .dropbtn{
    font-size: 18px;
    border: none;
    outline: none;
    font-weight: 500;
    color: rgb(41, 41, 41);
    /* padding: 14px 16px; */
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    height: 100%;
    cursor: pointer;
}

.button:hover .dropbtn{
    color: #eb352f;
    /* background-color: green; */
}

.drp-content{
    display: none;
    position: absolute;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    min-width: 160px;
    box-shadow: 0 6px 10px rgb(0 0 0 / 10%);
    z-index: 1;
}

.drp-content a:first-child{
    padding-top: 25px;
}

.drp-content a{
    float: none;
    color: black;
    padding: 0px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    padding-bottom: 25px;
}

.drp-content a:hover{
    color: #eb352f;
}

.button:hover .drp-content{
    display: block;
}


.hero .head-container{
    padding: 90px;
    font-size: 45px;
    background-image: url("../images/bg.jpg");
    /* background-size: 2560px 1600px; */
    background-repeat: no-repeat;
    font-weight: 500;
    background-size: cover;
    width: 100%;
    height: 700px;
    color: white;
    text-shadow: 0px 0px 8px #747474;
}

.hero .head-container .head-text{
    width: 390px;
}

.hero .head-container .head-text span{
    text-align: justify;
    text-justify: distribute;
    text-align-last: left;
    display: block;
}

.hero .head-container > span:nth-child(2){
    font-size: 25px;
}

.hero .featured-program{
    display: flex;
    flex-direction: column;
    padding: 45px;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgb(233,236,239);
}

.hero .featured-program span{
    font-size: 40px;
    font-weight: 500;
    color: rgb(35, 35, 35);
}

.hero .featured-program .card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
}
.hero .featured-program .card-container .cards{
    width: 400px;
    height: 500px;
    border-radius: 6px;
    margin-top: 20px;
    margin-left: 20px;
    overflow: hidden;
    box-shadow: 0 6px 10px rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
    background-color: white;

}

.hero .featured-program .card-container .cardS:nth-child(1) img{
    width: 100%;
    height: auto;
}

.hero .featured-program .card-container .cards .title{
    padding: 20px;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero .featured-program .card-container .cards .title::before{
    display: block;
    content: " ";
    width: 5px;
    height: 100%;
    background-color: #eb352f;;
    margin-left: -20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.hero .featured-program .card-container .cards .title span{
    font-size: 25px;
    font-weight: 400;
    line-height: 90px;
    padding: 20px;
}

.hero .featured-program .card-container .cards .card-content{
    padding: 20px;
}

.hero .featured-program .card-container .cards .card-content span{
    font-size: 16px;
    font-weight: 400;
    color: rgb(33, 33, 33);
    display: block;
    text-align: justify;
}

footer{
    height: auto;
    padding: 90px;
    padding-left: 160px;
    box-shadow: 0 6px 10px rgb(0 0 0 / 10%);
    font-size: 14px;
}
.upper-half{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .desc{
    width: 400px;
    text-align: justify;
}
.upper-half div:nth-child(2)  *{
    display: inline-block;
    margin-top: 10px;
}

footer hr{
    background-color: rgb(255, 77, 0);
}